body {
  background-color: rgb(67, 195, 218);
}

/* Give your page a fun background color */
.header-footer {
  background-color: rgb(54, 85, 110);
  color: lightcyan;
}

/* Make the header and footer a different color from the background */
h1 {
  text-align: center;
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  padding: 5px;
}

/* Align the h1 containing your name in the center of the header*/
p {
  font-style: italic;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  opacity: .7;
}

/* Make your p tag a different color and italic */
img {
  border: 10px solid #555;
  border-style: dashed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 350px;
}

/* Put a border around your image */
.fun-facts {
  padding-top: 8px;
  padding-bottom: 4px;
  margin-left: 575px;
  margin-right: 575px;
}

li {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  list-style: square;
  color: lightcyan;
}

.item {
  padding-top: 5px;
}

/* Change the font-family of your list */
